<h1>Editar cliente</h1>

<div class="well">
  <form #formCliente="ngForm">
    <div class="form-group">
      <label for="nome">Cliente:</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="cliente.nome"
        #nome="ngModel"
        minlength="5"
        required>

        <label for="saldo">Saldo:</label>
        <input
          type="number"
          class="form-control"
          id="saldo"
          name="saldo"
          [(ngModel)]="cliente.saldo"
          #saldo="ngModel"
          minlength="1"
          required>
      <div class="alert alert-danger">
        <div >
          Digite o nome do cliente.
        </div>
        <div >
          O nome do cliente deve conter ao menos 5 caracteres.
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <input
        type="submit"
        class="btn btn-success"
        value="Atualizar"
        [disabled]="!formCliente.form.valid">
      <a [routerLink]="['/cliente']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>

